<div class="container nav-margin">
    <h3>Forget password</h3>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" class="mb-2 form-control">

        <label for="password">New password:</label>
        <input type="password" id="password" formControlName="newPassword" class="mb-2 form-control">


        <button  class="btn bg-main d-block ms-auto text-white">
            <span >reset password</span>
        </button>
    </form>
    
    </div>

